<div class="modal fade modal-productApp" id="alert_km_qv" tabindex="-1" role="dialog" aria-labelledby="alert_km" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close  close-modal-app" data-dismiss="modal" aria-hidden="true">
					<span aria-hidden="true">
						<svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0"><path d="m10.7 9.2-3.8-3.8 3.8-3.7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-3.8 3.7-3.8-3.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3.8 3.7-3.8 3.8c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3l3.8-3.8 3.8 3.8c.2.2.4.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4z"></path></svg>
					</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Thông báo khuyến mãi</h4>
			</div>
			<div class="modal-body">
				<p>Số lượng đặt sản phẩm <span style="color: rgb(229, 0, 0)">{{ product.title }}</span> của bạn chưa đủ để được tặng/giảm sản phẩm <span id="prod_km_alert"></span></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn button dark" data-dismiss="modal">Ở lại trang</button>
				<button type="button" class="btn button dark" id="discount-promotion-dismiss-buyxgety-qv" >	Vẫn thêm vào giỏ hàng</button>
			</div>
		</div>
	</div>
</div>

